services:
  tool_server:
    build: ./tool_server
    container_name: tool_server
    ports:
      - "8000:8000"
    volumes:
      - ./data:/data

  agent_b:
    build: ./agent_b
    container_name: agent_b
    ports:
      - "8001:8001"
    depends_on:
      - tool_server
    extra_hosts:
      - "host.docker.internal:host-gateway"

  agent_a:
    build: ./agent_a
    container_name: agent_a
    environment:
      - PROMPT=echo hello
    depends_on:
      - agent_b
    extra_hosts:
      - "host.docker.internal:host-gateway"